bin
obj
*.pyc
*.user
node_modules
/.vs
/packages
/src/Nimblex.WebApplication/temp
/src/Nimblex.WebApplication/wwwroot/public/js
/src/Nimblex.WebApplication/wwwroot/public/art/Site.css
/src/packages
/src/Plugins-Debug
/src/TestProjects/EBMS.Flagship.Test/.vs
/src/Plugins/Plugins.DocuSign/.vs/Plugins.DocuSign/v16/*.suo
/src/logs
/src/keys
/src/Plugins/Plugins.ContractsAndTenders/.vs
.vs
src/Nimblex.WebApplication/wwwroot/public/cache-id
/publish
/release-notes.md
